:root {
    --dark-acqua: #1abc9c;
    --dark-grey: #2c3e50;
}

input,
textarea {
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}

h1,
h2,
p,
[type="submit"] {
    font-weight: 600;
}

p {
    font-size: 1.15rem;
}

.my_smaller-container {
    width: 65%;
    margin: 0 auto;
}

/* || HEADER */
nav {
    height: 60px;
}

/* || MAIN */
#jumbotron img{
    width: 250px;
}

.divider_line {
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: var(--dark-grey);
    margin: 0 3px;
    border-radius: 32px;
    vertical-align: middle;
}

.star_divider i {
    color: var(--dark-grey);
}

article>img,
[type="submit"] {
    border-radius: 10px;
}

#about button::before{
    content: '\f019';
    font-family: "Font Awsome 6 Free";
    font: var(--fa-font-solid);
}

/* || FOOTER */
footer {
    background-color: #3a546d;
}

footer a {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ** STYLE */
.my_bg-dark-aqua {
    background-color: var(--dark-acqua);
}

.my_bg-dark-grey {
    background: var(--dark-grey);
}

.my_font-special {
    color: var(--dark-acqua);
}

.my_border-bottom {
    border-bottom: 1px solid #cccccc;
}

