:root {
    --dark-acqua: #1abc9c;
    --dark-grey: #2c3e50;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
}

h1,
h2,
p,
input {
    font-weight: 600;
}

p {
    font-size: 1.15rem;
}

input {
    font-weight: bold;
}

.my_smaller-container {
    width: 65%;
    margin: 0 auto;
}

nav {
    height: 60px;
}

#jumbotron img{
    width: 250px;
}

.divider_line {
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: var(--dark-grey);
    margin: 0 3px;
    border-radius: 32px;
    vertical-align: middle;
}

.star_divider i {
    color: var(--dark-grey);
}

.text-white .divider_line {
    background-color: white;
}

article>img {
    border-radius: 10px;
}

#about button {
    background-color: transparent;
    border: 1px solid white;
}

#about button::before{
    content: '\f019';
    font-family: "Font Awsome 6 Free";
    font: var(--fa-font-solid);
}

footer {
    background-color: #3a546d;
}

footer li {
    margin-right: .5rem;
}

footer a {
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ** STYLE */
.my_bg-dark-aqua {
    background-color: var(--dark-acqua);
}

.my_bg-dark-grey {
    background: var(--dark-grey);
}

.my_font-special {
    color: var(--dark-acqua);
}

